@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        box-sizing: border-box;
        /* border: 1px solid red; */
    }

    html {
        background-color: #f7f7f7;
        font-family: "Nunito Sans", sans-serif, system-ui;
        color: #191919;
    }

    h1, h2, h3, h4, h5, h6, .heading {
        font-family: "Poppins", sans-serif, system-ui;
        color: #191919;
    }

    .text-quantum {
        color: #00b0ea;
    }

    .border-quantum {
        border-color: #00b0ea;
    }

    .text-dark-quantum {
        color: #005960;
    }

    .bg-main-body {
        background-color: #f7f7f7;
    }

    .bg-dark-blue {
        background-color: #111827;
    }

    body.active-modal {
        overflow-y: hidden;
    }

    .btn-modal {
        padding: 10px 20px;
        display: block;
        margin: 100px auto 0;
        font-size: 18px;
    }

    .modal,
    .overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
    }

    .overlay {
        background: rgba(49, 49, 49, 0.8);
    }

    .modal-content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1.4;
        border-radius: 3px;
        /* width: 800px; */
    }

    .close-modal {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 7px;
        color: rgb(161, 161, 161);
    }
}